

html{
    width: 100%;
    max-width: 1920px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8E2CB;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lustria Regular",sans-serif !important;
    font-size: 45px;
    padding: 0px;
    margin: 20px 0px;
}

* {
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
}

label {
    font-size: 16px;
    line-height: auto;
}

section {
    padding-bottom: 10px;
}
#formdiv{
    padding-top: 0px;
}
div#formdiv {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
}

.input {
    width: 175px;
    padding: 2px 10px;
    display: block;
    margin: 2px auto 10px auto;
    overflow: hidden;
    border-radius: 25px;
    border-width: 0px;
    line-height: 150%;
    color:#1d1d1d;
    text-align: center;
}
.keywordinput {
    width: 100%;
    max-width: 500px ;
    max-height: 150px;
    min-width: 300px;
    min-height: 150px;
    height:150px;
    padding: 10px;
    display: block;
    margin: 2px auto 10px auto;
    overflow:auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 25px;
    border-width: 0px;
    line-height: 150%;
    color:#1d1d1d;
    text-align: center;
    resize: none;
}

.keywordinput-wrapper {
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 0;
    margin: 2px auto 10px auto;
    border-radius: 25px; /* Match the input border radius */
    overflow: hidden; /* Hide overflow */
    position: relative;
    padding-right: 16px; /* Space for scrollbar */
    box-sizing: border-box; /* Includes padding and border in the width/height */
}

/* Custom Scrollbar Styling for WebKit Browsers */
.keywordinput::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbars */
    border-radius: 40px;
}

.keywordinput::-webkit-scrollbar-track {
    background: transparent; /* No background for the track */
    border-radius: 40px; /* Round the track corners */
}

.keywordinput::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar handle */
    border-radius: 40px; /* Round the handle corners */
}

.output {
    background-color:white;
    width: 100% !important;
    max-width: 300px !important;
    height: 100px !important;
    border: 0px;
    border-color: black;
    border-style: solid;
    display: block;
    margin: 0px auto 10px auto;
    text-align: center;
    border-radius: 25px;
    border-width: 0px;
    padding: 10px;
    overflow: auto;
    overflow-wrap: break-word;
}

/* Custom Scrollbar Styling for WebKit Browsers */
.output::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbars */
    border-radius: 40px;
}

.output::-webkit-scrollbar-track {
    background: transparent; /* No background for the track */
    border-radius: 40px; /* Round the track corners */
}

.output::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar handle */
    border-radius: 40px; /* Round the handle corners */
}

.keyoutput {
    background-color:white;
    width: 100% !important;
    max-width: 500px !important;
    height: 150px !important;
    border: 0px;
    border-color: black;
    border-style: solid;
    display: block;
    margin: 0px auto 10px auto;
    text-align: center;
    border-radius: 25px;
    border-width: 0px;
    padding: 10px;
    overflow: auto;
    overflow-wrap: break-word;
}

/* Custom Scrollbar Styling for WebKit Browsers */
.keyoutput::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbars */
    border-radius: 40px;
}

.keyoutput::-webkit-scrollbar-track {
    background: transparent; /* No background for the track */
    border-radius: 40px; /* Round the track corners */
}

.keyoutput::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar handle */
    border-radius: 40px; /* Round the handle corners */
}

button {
    margin:5px auto 10px auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    color: white;
    background-color: #1D1D1D;
    font-weight: normal;
    font-size: 14px;
    transition: background-color 0.2s ease-out 100ms
}

button:hover {
    margin:5px auto 10px auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    color: white;
    background-color: #e9a353;
    font-weight: normal;
    font-size: 14px;
}

button:disabled {
    margin:5px auto 10px auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    color: rgb(203, 203, 203);
    background-color: #595959;
    font-weight: normal;
    font-size: 14px;
}

.confirmation-label {
    color: #e9a353;
    margin: 0px;
}

nav#mainnav{
    position:relative;
    width: 100%;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
    padding: 10px 0 !important;
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    margin: 0px !important;
}
a.navitem {
    padding:10px;
    margin: 0px 20px;
    color:white;
    text-decoration: none;
}
a.navitem:hover {
    color:#e9a353;
    cursor: pointer;
}
 
.footertxt{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
    padding: 10px 0 !important;
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    margin: 0px !important;
}